.navigation {
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    border-radius: 100px;
    z-index: 999;
}

.navigation::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #2ECC71, #0f73e4, #4A90E2, #2ECC71);
    border-radius: inherit;
    z-index: -1;
    background-size: 300% 300%;
    animation: moveGradient 3s linear infinite;
    filter: blur(2px);
}

.navigation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: inherit;
    z-index: -1;
}



.nav-button {
  background: none;
  border: none;
  padding: 12px;
  cursor: pointer;
  color: #1a237e;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.1);
}

.nav-button:active {
  transform: scale(0.95);
}